[Desktop Entry]
Name=bettercap
Comment=Networks reconnaissance and MITM attacks
Encoding=UTF-8
Exec=menuexec bettercap --help
Icon=parrot-bettercap.png
StartupNotify=false
Terminal=true
Type=Application
Categories=09-sniffing-spoofing;
